.cartDisplayBox {
    width: 190px;
    height: 310px;
    padding: 7px;
    float: left;
    box-sizing: border-box;
    background-color: #f6f6f6;
    border: 0px solid black;
    box-sizing: border-box;
    margin: 0px 5px 10px 5px;
    overflow-y: hidden;
    box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.5);
    -ms-box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.5);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.5);
}

.cartDisplayBox p {
    color: rgba(17, 17, 17, 0.8);
    font-size: 16px;
    text-align: center;
}

.cartDisplayBox button {
    padding: 5px 6px;
    margin: 6px;
    font-size: 18px;
    text-align: center;
}

.cartDisplayBox h3,
.price {
    font-size: 20px;
    text-align: center;
}

.cartDisplayBox img {
    width: 160px;
    height: 140px;
    margin: 0px 6.5px;
    font-size: 16px;
}

@media screen and (min-width:320px) {
    .cartDisplayBox {
        width: 140px;
        padding: 7px;
        margin: 0px 3px 10px 3px;
    }
    .cartDisplayBox img {
        width: 120px;
        height: 120px;
        margin: 0px 3px;
    }
    .cartDisplayBox button {
        padding: 1px 15px;
        margin: 3px;
        font-size: 16px;
    }
}

@media screen and (min-width:400px) {
    .cartDisplayBox {
        width: 180px;
        padding: 7px;
        margin: 0px 4px 10px 4px;
    }
    .cartDisplayBox img {
        width: 160px;
        height: 140px;
        margin: 0px 3px;
    }
    .cartDisplayBox button {
        padding: 5px 6px;
        margin: 4px;
        font-size: 18px;
    }
}

@media screen and (min-width:419px) {
    .cartDisplayBox {
        width: 190px;
        margin: 0px 3px 10px 3px;
    }
    .cartDisplayBox img {
        margin: 0px 6.5px;
    }
    .cartDisplayBox button {
        padding: 5px 6px;
        margin: 6px;
    }
}