.categoryDisplayBox {
    width: 98%;
    padding: 7px 10%;
    box-sizing: border-box;
    background-color: #f4f8f7;
    border: 0px solid black;
    box-sizing: border-box;
    margin: 0px auto 20px auto;
    overflow-y: hidden;
    box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.5);
    -ms-box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.5);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(17, 17, 17, 0.5);
}

.categoryDisplayBox h3 {
    font-size: 20px;
    text-align: center;
    background-color: white;
    color: #0978c6;
    padding-bottom: 5px;
}

.category h3 {
    text-align: center;
    color: purple;
    background-color: white;
    margin-bottom: 10px;
}

@media screen and (min-width:320px) {
    .categoryDisplayBox {
        padding: 7px 15%;
    }
}

@media screen and (min-width:400px) {
    .categoryDisplayBox {
        padding: 7px 2.5px;
    }
}

@media screen and (min-width:460px) {
    .categoryDisplayBox {
        padding: 7px 15px;
    }
}

@media screen and (min-width:480px) {
    .categoryDisplayBox {
        padding: 7px 25px;
    }
}


/* @media screen and (min-width:480px) {
    .categoryDisplayBox {
        padding: 7px 0px;
    }
} */

@media screen and (min-width:500px) {
    .categoryDisplayBox {
        padding: 7px 25px;
    }
}

@media screen and (min-width:640px) {
    .categoryDisplayBox {
        padding: 6px 3px;
    }
}

@media screen and (min-width:1000px) {
    .categoryDisplayBox,
    .category {
        padding: 7px;
        width: 75%;
        margin-left: 25%;
    }
}