.contact {
    margin-top: 110px;
    margin-bottom: -40px;
    padding: 15px;
    overflow: hidden;
}

.office {
    float: left;
    width: 50%;
    text-align: left;
}

.office p {
    margin: 5px;
}

.office span {
    color: purple;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.office .tel {
    color: black;
}

.office h3 {
    text-decoration: underline;
}

.headOffice {
    padding-right: 10px;
}