$headerbgcolor: green;
.header {
    position: absolute;
    width: 100%;
    background: $headerbgcolor;
    padding: 10px;
    height: 80px;
    top: 0px;
    z-index: 100
}

.separator {
    position: relative;
    margin-top: 80px;
}