* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    /* font-family: "sans-serif"; */
    font-family: "Roboto";
    font-size: 16px;
    line-height: 1.3;
}

main,
header,
section,
aside,
article,
nav,
footer {
    display: block;
}

body {
    /* background-color: #f3d10d; */
    /* background-color: #aa9310; */
    /* background-color: white; */
    background-color: #fdfdfd;
}

a {
    text-decoration: none;
    color: #0978c6;
}

h3 {
    letter-spacing: 1px;
}

#app {
    width: 100%;
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0px auto;
    text-align: justify;
}

.wrapper {
    padding: 10px;
    margin-bottom: 50px;
}

fieldset {
    margin: 70px auto 98px auto;
    padding: 30px 0px;
    width: 90%;
    display: block;
    position: relative;
    border: 0px;
    background-color: #fcfbfc;
    border: 1px dotted purple;
    /* border-radius: 50px; */
}


/* legend {
    margin: 0px auto;
    color: #0978c6;
} */

legend {
    text-align: center;
    margin: 0px auto;
    border-radius: 50px;
    padding: 5px;
    color: purple;
    border: 2px solid;
}

label {
    color: purple;
    margin-left: 11%;
}

legend {
    text-align: center;
}

input,
textarea {
    width: 85%;
    display: block;
    margin: 0px auto 20px auto;
    padding: 2px;
    text-align: center;
    height: 35px;
    border: 0.1px dotted #0978c6;
    /* background-color: #f4f8f7; */
    color: black;
    border-radius: 40px;
}

#search {
    border: 0px;
    background-color: rgb(244, 248, 247);
    border: 1px solid black;
}

textarea {
    height: 150px;
    border-radius: 0px;
}

.log,
.restPassword {
    padding: 5px 0px 5px 20px;
}

.error {
    color: red;
    font-size: 16px;
    padding-left: 15px;
    letter-spacing: 0.5px;
}

.submitButton {
    width: 100px;
    margin: 5px 30%;
    background-color: #f4f8f7;
    color: purple;
}

button {
    font-size: 18px;
}

.header button,
.decisionBox button {
    font-size: 16px;
}

.userName {
    float: right;
    margin-right: 10px;
    background: white;
    padding: 5px;
    letter-spacing: 1px;
    border-radius: 50px;
    color: purple;
    border: 2px solid;
}

.userNameDiv {
    position: relative;
    margin-bottom: 60px;
}

#footer,
footer span {
    width: 100%;
    text-align: center;
    color: rgba(230, 230, 230, 0.9);
    font-size: 18px;
    position: relative;
    text-indent: 0px;
}

@media screen and (min-width:320px) {
    .restPassword {
        float: right;
        display: inline;
        position: absolute;
        right: 5%;
        top: 79%;
        padding: 0px;
    }
}

@media screen and (min-width:480px) {
    .submitButton {
        margin: 5px 40%;
    }
}

@media screen and (min-width:640px) {
    * {
        font-size: 18px;
    }
    label {
        margin-left: 9%;
    }
}

@media screen and (min-width:1000px) {
    * {
        font-size: 20px;
    }
    fieldset {
        width: 65%
    }
    /* label {
        margin-left: 9%;
    } */
}