{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/passwordReset.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="" type="">
    <link rel="apple-touch-icon" href="">
    <link rel="icon" href="" type="image/png">
    <meta name="description" content="" />
    <meta name="keywords" content=" " />
    <meta name="author" content="Emeka Casper Onwuepe " />
    <meta property="og:url" content="" />
    <meta property="og:type" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
</head>

<body>
    <header class="header">
        <div id="logo_div">
            <a id="homelink" onclick="homeLink()"><img className="logo" src="/static/CSS/logo.jpg" alt="logo" width="100%" /></a>
        </div>
    </header>
    <div class="separator"></div>
    <div class="wrapper">
        {% block body %}
        <fieldset>
            <form method="post" id="loginForm">
                <p class="help">Please, enter your email to reset password</p>
                {% csrf_token %} {{form}}
                <input type="submit" id="loginButton" value="Reset">
            </form>
        </fieldset>
        {% endblock body %}
    </div>
    <footer>
        <p id="footer"> Copyright &copy; <span id="footerdate" style="padding: 0%"></span>. All rights reserved. Illumepedia.com <br /> Designed by Emeka Onwuepe. </p>
    </footer>
    <script>
        copyRightDate(2020)

        function homeLink() {
            window.location.pathname = ""
        }


        function copyRightDate(x) {
            var d = new Date;
            var year = d.getFullYear();
            var footerDate = document.getElementById("footerdate");
            if (year == x) {
                footerDate.innerHTML = year;
            } else {
                footerDate.innerHTML = x + "-" +
                    year;
            }
        }
    </script>
</body>

</html>